<footer class="main-footer bg-vulcan pt-100 pb-90">
			
    <section>
        
        <div class="container">
            <div class="row">
                
                <div class="lqd-column col-md-4 col-sm-6">
                    
                    <figure class="mb-30">
                        <img src="./assets/img/logo/logo-light.svg" alt="Ave">
                    </figure>
                    <ul class="social-icon social-icon-md mb-20">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                    <p>Copyright 2019 <span class="text-white font-weight-bold">Ave</span>. All Rights Reserved.</p>
                    
                </div><!-- /.col-md-3 col-sm-6 -->
                
                <div class="lqd-column col-md-2 col-sm-6">
                    
                    <h3 class="mt-0 widget-title text-white">Main Navigation</h3>
                    <ul class="lqd-custom-menu reset-ul text-white">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Customers</a></li>
                        <li><a href="#">Pricing</a></li>
                    </ul>
                    
                </div><!-- /.col-md-2 col-sm-6 -->
                
                <div class="lqd-column col-md-2 col-sm-6">
                    
                    <h3 class="mt-0 widget-title text-white">Abous Us</h3>
                    <ul class="lqd-custom-menu reset-ul text-white">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                    
                </div><!-- /.col-md-2 col-sm-6 -->
                
                <div class="lqd-column col-md-2 col-sm-6">
                    
                    <h3 class="mt-0 widget-title text-white">Workflows</h3>
                    <ul class="lqd-custom-menu reset-ul text-white">
                        <li><a href="#">Management</a></li>
                        <li><a href="#">Reporting</a></li>
                        <li><a href="#">Tracking</a></li>
                        <li><a href="#">All Uses</a></li>
                    </ul>
                    
                </div><!-- /.col-md-2 col-sm-6 -->
                
                <div class="lqd-column col-md-2 col-sm-6">
                    
                    <h3 class="mt-0 widget-title text-white">Resources</h3>
                    <ul class="lqd-custom-menu reset-ul text-white">
                        <li><a href="#">Ave Guide</a></li>
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Intergrations</a></li>
                        <li><a href="#">Community</a></li>
                    </ul>
                    
                </div><!-- /.col-md-2 col-sm-6 -->
                
            </div><!-- /.row -->
        </div><!-- /.container -->
        
    </section>
    
</footer><!-- /.main-footer -->
