
<header style="    background: #141622 !important;" class="main-header main-header-overlay" data-react-to-megamenu="true" data-sticky-header="true" data-sticky-options='{ "stickyTrigger": "first-section" }'>
			
    <div class="mainbar-wrap">
        <div class="megamenu-hover-bg"></div><!-- /.megamenu-hover-bg -->
        <div class="container-fluid mainbar-container">
            <div class="mainbar">
                <div class="row mainbar-row align-items-lg-stretch px-4">
                    
                    <div class="col">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="index.html" rel="home">
                                <span class="navbar-brand-inner">
                                    <img class="logo-dark" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
                                    <img class="logo-light" src="./assets/img/logo/logo-light.svg" alt="Ave HTML Template">
                                    <img class="logo-sticky" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
                                    <img class="mobile-logo-default" src="./assets/img/logo/logo-1.svg" alt="Ave HTML Template">
                                    <img class="logo-default" src="./assets/img/logo/logo-light.svg" alt="Ave HTML Template">
                                </span>
                            </a>
                            <button type="button" class="navbar-toggle collapsed nav-trigger style-mobile" data-toggle="collapse" data-target="#main-header-collapse" aria-expanded="false" data-changeclassnames='{ "html": "mobile-nav-activated overflow-hidden" }'>
                                <span class="sr-only">Toggle navigation</span>
                                <span class="bars">
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                    <span class="bar"></span>
                                </span>
                            </button>
                        </div><!-- /.navbar-header -->
                    </div><!-- /.col -->
                    
                    <div class="col">
                        
                        <div class="collapse navbar-collapse" id="main-header-collapse">
                            
                            <ul id="primary-nav" class="main-nav nav align-items-lg-stretch justify-content-lg-center" data-submenu-options='{ "toggleType":"fade", "handler":"mouse-in-out" }'>
                                
                                <li>
                                    <a href="{% url 'cart' %}">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Пример
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                </li>
                                <li class="menu-item-has-children megamenu megamenu-fullwidth">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Templates
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <div class="container megamenu-container">
                                                <div class="vc_row row megamenu-inner-row bg-white">
                                                    <div class="container ld-container">
                                                        <div class="row ld-row">
                                                            
                                                            <div class="megamenu-column col-md-4">
                                                                <h3 class="megamenu-heading">Pack 1</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="index.html" target="_blank">Original</a></li>
                                                                  
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-4">
                                                                <h3 class="megamenu-heading">Pack 2</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="index-mobile.html" target="_blank">Mobile</a></li>
                                                                  
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-4">
                                                                <h3 class="megamenu-heading">Pack 3</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="index-gym.html" target="_blank">Gym</a></li>
                                                                    
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                        </div><!-- /.row ld-row -->
                                                    </div><!-- /.container ld-container -->
                                                </div><!-- /.vc_row -->
                                            </div><!-- /.megamenu-container -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children megamenu megamenu-fullwidth">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Pages
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <div class="container megamenu-container">
                                                <div class="vc_row row megamenu-inner-row bg-white">
                                                    <div class="container ld-container">
                                                        <div class="row ld-row">
                                                            
                                                            <div class="megamenu-column col-md-3">
                                                                <h3 class="megamenu-heading">About</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="page-about-classic.html">About – Classic 1</a></li>
                                                        
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-3">
                                                                <h3 class="megamenu-heading">Services</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="page-services-build.html">Services – Classic 1</a></li>
                                                              
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-3">
                                                                <h3 class="megamenu-heading">Misc</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="page-side-menu.html">Utility – Side Menu</a></li>
                                                                 
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-3">
                                                                <h3 class="megamenu-heading">Contact</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="page-contact-dark.html">Contact – Dark</a></li>
                                                                    <li><a href="page-contact-light.html">Contact – Light</a></li>
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                        </div><!-- /.row ld-row -->
                                                    </div><!-- /.container ld-container -->
                                                </div><!-- /.vc_row -->
                                            </div><!-- /.megamenu-container -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children megamenu megamenu-fullwidth">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Elements
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <div class="container megamenu-container">
                                                <div class="vc_row row megamenu-inner-row bg-dark">
                                                    <div class="container ld-container">
                                                        <div class="row ld-row">
                                                            
                                                            <div class="megamenu-column col-md-1/5">
                                                                <h3 class="megamenu-heading">Elements 1</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="element-fancy-images.html">Fancy Images</a></li>
                                                                  
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-1/5">
                                                                <h3 class="megamenu-heading">Elements 2</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="element-3d-carousel.html">3D Carousel</a></li>
                                                                    <li><a href="element-circular-images.html">Circular Image</a></li>
                                                                   
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-1/5">
                                                                <h3 class="megamenu-heading">Elements 3</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="element-iconbox-1.html">Iconboxes - 1</a></li>
                                                                    <li><a href="element-iconbox-2.html">Iconboxes - 2</a></li>
                                                                  
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                            <div class="megamenu-column col-md-1/5">
                                                                <h3 class="megamenu-heading">Elements 5</h3>
                                                                <ul class="lqd-custom-menu reset-ul">
                                                                    <li><a href="element-sticky-submenu.html">Sticky Submenu</a></li>
                                                                
                                                                </ul>
                                                            </div><!-- /.megamenu-column -->
                                                            
                                                        </div><!-- /.row ld-row -->
                                                    </div><!-- /.container ld-container -->
                                                </div><!-- /.vc_row -->
                                            </div><!-- /.megamenu-container -->
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Portfolio
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <a href="portfolio-grid-1.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        Portfolio Grid 1
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Blog
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <a href="blog-with-sidebar.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        with Sidebar
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                             
                                     
                                        <li>
                                            <a href="blog-grid.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        Grid
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="blog-single.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        Single
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">
                                        <span class="link-icon"></span>
                                        <span class="link-txt">
                                            <span class="link-ext"></span>
                                            <span class="txt">
                                                Headers
                                                <span class="submenu-expander">
                                                    <i class="fa fa-angle-down"></i>
                                                </span>
                                            </span>
                                        </span>
                                    </a>
                                    <ul class="nav-item-children">
                                        <li>
                                            <a href="element-sticky-submenu.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        Header 1
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                      
                                        <li>
                                            <a href="index-wave.html">
                                                <span class="link-icon"></span>
                                                <span class="link-txt">
                                                    <span class="link-ext"></span>
                                                    <span class="txt">
                                                        Header 12
                                                        <span class="submenu-expander">
                                                            <i class="fa fa-angle-down"></i>
                                                        </span>
                                                    </span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            
                            </ul><!-- /#primary-nav  -->
                        
                        </div><!-- /#main-header-collapse -->
                        
                    </div><!-- /.col -->
                
                    <div class="col text-right">

                        <div class="header-module">
                            <ul class="navbar-nav mr-auto" style="    list-style-type: none;">
                                {% if user.is_authenticated %}
                                
                                <li class="nav-item" style="margin-right:10px;">
                                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#">Welcome, {{user.username}}</a>
                                </li>
                          
                                {% else %}
                          
                                <li class="nav-item" style="margin-right:10px;">
                                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                                  </li>
                          
                                {% endif %}
                              </ul>
                        </div><!-- /.header-module -->
                        
                    </div><!-- /.col -->
                
                </div><!-- /.mainbar-row -->
            </div><!-- /.mainbar -->
        </div><!-- /.mainbar-container -->
    </div><!-- /.mainbar-wrap -->
    
</header><!-- /.main-header -->
