
{% extends "page/index.html" %}
{% load static %}
{% block 'content' %}
<style>
  .form form {
    width: 800px;
    margin: 0 auto;
    padding-top: 20px;
    margin-bottom: 47px;
    padding-top: 0px;
    margin-top: 61px;
  }
</style>
<div class="form" style="">

    {% load crispy_forms_tags %}         

    <!--Register--> 
    <div class="container py-5">
        <h1 style="margin-top: 37px;">Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}                    
            <button style="padding: 1px 27px;
            border: 1px solid #b7b9c7;
            color: #ffffff;
            background: #463b50;" class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
    </div>
 
</div>

{% endblock %}