{% extends "page/index.html"  %}
{% block 'content' %}


<div id="wrap">
    {% for post in post_one %}
    <main id="content" class="content py-0">
        
        <div class="blog-single-cover scheme-light" data-fullheight="true" data-inview="true" data-inview-options='{ "onImagesLoaded": true }' style="background-color: #666871;">
           
			<figure class="blog-single-media" data-responsive-bg="true" data-parallax="true" data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }' data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
			
				<img src="{{ post.image.url }}" alt="Blog single">
			
            </figure>
            
            <div class="blog-single-details">
                
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            
                            <header class="entry-header blog-single-header" data-parallax="true" data-parallax-to='{ "opacity": 0, "translateY": "30%" }' data-parallax-options='{ "triggerHook": "0.3" }'>
                                <h1 class="blog-single-title entry-title h2" data-split-text="true" data-split-options='{ "type": "lines" }'>
                                   
                                        {{ post.title }}
                                  
                                </h1> 

                                <p>{{ post.date }}</p>
                                
                                
                            </header><!-- /.blog-single-header -->
                            
                        </div><!-- /.col-md-6 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
                
            </div><!-- /.blog-single-details -->
            
        </div><!-- /.blog-single-cover -->
        
        <article class="blog-single" style="margin-bottom:50px;">
            
            <div class="container">
                
                <div class="row">
                    
                    <div class="col-md-8 col-md-offset-2">
                        
                        <div class="blog-single-content entry-content pull-up expanded">
                            
                            <p class="add-dropcap">{{ post.description }}</p> 

                        </div><!-- /.blog-single-content entry-content -->

                </div><!-- /.row -->
            </div><!-- /.container -->
            
        
        </article><!-- /.blog-single -->
        
    </main><!-- /#content.content -->
  {% endfor %}
</div><!-- /#wrap -->
{% endblock %}